<html>
<body>
  <header>
    <h1>Hogwarts Student Registry</h1>
  </header>
  <ul>
    <% students.each do |key, student| %>
    <li><%= student[:name] %> is a <%= student[:age] %>.
      This student's favorite spell is <%=student[:spell] %>.
      This student has an id of <a href="/student/<%= student[:id] %>"><%= student[:id] %></a>.</li>
      <% end %>
  </ul>

  <h3>Add a student here:</h3>
  <form action= "/student" method = "post">
    <input type="text" name="name" placeholder="student's name" required>
    <input type="text" name="age" placeholder="student's age" required>
    <input type="text" name="spell" placeholder="student's favorite spell" required>
    <button>Add a student</button>
  </form>
</body>
</html>
